<header>
  <hgroup>
    <h1>Puppet Reporter</h1>
    <p>Tracking known puppets in the NationStates card game.</p>
  </hgroup>
</header>
<div class="mb-20">
  <a href="/" role="button">
    Home
  </a>
  <a href="/puppet" role="button">
    Search Puppets
  </a>
  <a href="/owner" role="button">
    Search Owners
  </a>
  <a href="/submit" role="button">
    Submit Puppets
  </a>
  <a href="/submissions" role="button">
    View Queue
  </a>
</div>